@font-face {
  font-family: 'Fabrica';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Fabrica.otf');
  src: url('../Fabrica.otf?#iefix') format('embedded-opentype'),
       local('Fabrica')
}
