@font-face {
  font-family: 'Fabrica';
  src: url('fonts/Fabrica.otf'); 
}
body {
  background-color: #fff;
  padding:50px;
  color:#000;
}
header {
  position:relative;
  top:-20px;
  padding-left:30px;
}
footer {

}
#layout {
  display:flex;
}
#logo{
  width:400px;
  height:auto;
}
#portfolio{
  border-top:2px solid #FF0000;
  position:relative;
  top:-30px;
  padding:10px;
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  width:100%  ;
  /* flex-grow:1;
  display:flex;
  flex-wrap:wrap; */
}
#text {
  width:400px;
  flex-shrink:0;
  padding:0px 30px 30px 30px;
  font-family: 'Fabrica';
}

#bio{
  margin-top:30px;
}

.container{
/* flex: 1 1 200px; */
  max-width:300px;
  margin:auto;
  padding:10px;
  position:relative;
  margin-top:10px;
}
.caption{
  padding-left:20px;
  position:absolute;
  z-index:2;
  color:#FFF;
}
.sample {
  max-width:100%;
}
#markdown {
  border:1px solid black;
}
a {
  color:#FF0000;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
a:active {
  text-decoration:underline;
}
a:visited {
  text-decoration:underline;
}
