@font-face {
  font-family: 'Fabrica';
  src: url('fonts/Fabrica.otf');    
}

body {
  background-color: #fff;
  padding:50px;
  color:#000;
}
.row {
  width:100%;
  max-height:520px;
}
#text {
  font-family: 'Fabrica';
}

#bio{
  margin-top:30px;
}
.container{
  margin:5px;
  position:relative;
  width:100%;
  height:0px;
  padding-bottom:55%;
  padding-right:3px;
  padding-left:3px;
}
iframe {
  position:absolute;
  display:block;
  top:0px;
  left:0px;
  border-style:none;
  overflow:hidden;
  margin:5px;
  margin-bottom:5px;
  width:100%;
  height:100%;
   -ms-zoom: 0.95;
        -moz-transform: scale(0.95);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.95);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.95);
        -webkit-transform-origin: 0 0;
}

footer {
  width:270px;
  float:left;
  -webkit-font-smoothing:subpixel-antialiased;
}

 .xs {
  width:660px;
  -ms-zoom: 0.60;
        -moz-transform: scale(0.60);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.60);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.60);
        -webkit-transform-origin: 0 0;
 }